/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Common Styles or Utilities */

body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0;
    padding: 0;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 0px 30px;
    border-radius: 5px;
}

/* Navigation Menu */

nav{
    height: 94px;
    background-color: #562EFF;
    padding: 26px 285px 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    color: white;
}
.logo-icon{
    width: 40px;
    width: 51px;
    margin-right: 16px;
}
.menu{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.menu a{
    color: white;
    text-decoration: none;
    margin: 35px 36px;
    font-weight: 700;
}

.profile{
    width: 56px;
    height: 56px;
}

/*Top Players Style */

.players-blogs{
    margin-top: 36px;
}

.section-title{
    color: #562EFF;
}

.top-players{
    margin-top: 33px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 40px;
    margin-bottom: 30px;
    gap: 29px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    width: 56px;
    height: 56px;
}

.player-name{
    margin-left: 16px;
}

/* Top Blogs Style */

.top-blogs{
    margin-top: 30px;
    margin-bottom: 42px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    margin-top: 30px;
}

.blog{
    display: flex;
}

.blog img{
    width: 177px;
    height: 117px;
}

.blog a{
    text-decoration: none;
}

.blog-info{
    margin-left: 16px;
}

/* Latest Courses Style */

.latest-courses{
    margin-bottom: 28px;
    padding-bottom: 22px;
}

.latest-courses h2{
    padding-top: 23px;
}

.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 23px;
    margin-bottom: 10px;
}

.course{
    padding: 13px 13px 0px 13px;
    box-shadow: 5px 5px 20px lightgray;
    border-radius: 15px;
}

.course img{
    width: 225px;
    height: 105px;
}

.course small{
    color: #FF4A60;
}

.course-info{
    display: flex;
    justify-content: space-between;
    color: #A2A2A2;
}

.fa-star{
    color: #FFC014;
}

.empty{
    color: #A2A2A2;
}

.course-time{
    background-color: #FFE4E8;
    border-radius: 15px;
    width: 95px;
    text-align: center;
    color: #FF4A60;
}

/* Responsive for Small Devices */

@media screen and (max-width: 688px) {

    nav{
        height: 100%;
        width: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-title{
        text-align: center;
    }

    .players{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .player{
        display: flex;
        flex-direction: column;
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .blog{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

/* Responsive for Medium Devices */

@media screen and (min-width: 689px) and (max-width: 992px) {

    .section-title{
        text-align: center;
    }

    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .player{
        display: flex;
        flex-direction: column;
    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .blog{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .courses{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .course{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}